.modal-header
  %h3 Edit Note

= form_for @note, :url => person_note_path(@person, @note) do |form|
  .modal-body
    = form.label :occurred_at, "Note date/time"
    = form.text_field :occurred_at, :value => l(@note.occurred_at, :format => :datetime_for_input), :readonly => true, :class => [:datetimepicker, 'input-xlarge']
    = form.label :details, "Details"
    = form.text_area :text, :size => "125x5", :class => 'input-xxlarge'

    -unless @note.created_at.nil? || @note.user.nil?
      %h4= "Note created on #{(l @note.created_at, :format => :long)} by #{@note.user.email}"
  .modal-footer
    = form.submit "Save", :class => "btn"