- in_section :events
- content_for :header do
  %h1 Ticketing and Events

.row
  %p
    = "Are you sure you want to comp #{pluralize(@selected_tickets.size, 'ticket')}"
    = " to \"#{@comp.recipient.first_name} #{@comp.recipient.last_name}\""
    = " for the #{l @show.datetime_local_to_event, :format=> :date_at_time} show"
    = " of #{@show.event.name}?"
  %p= "Reason for comp is: #{@comp.reason}"
  = form_for @comp do |form|
    = hidden_field_tag :confirmed, :true
    = hidden_field_tag :show_id, @show.id
    - @selected_tickets.each do |st|
      =hidden_field_tag "selected_tickets[]", st
    = hidden_field_tag :person_id, @comp.recipient.id
    = hidden_field_tag :reason_for_comp, @comp.reason
    %p If this is correct, please click confirm it by clicking
    = submit_tag "Confirm", :class => "btn"

  %p= link_to "Cancel Ticket Comp", event_show_path(@show.event, @show)
