%h2="#{@person.first_name} #{@person.last_name}"

- unless person.dummy?
  %section#contact-information
    -# #image
    -#   = gravatar_image_tag(@person.email, :alt => 'User icon', :class => 'large-grav bordered', :gravatar => { :size => 128 })
    
    #details
      %ul.kv.editable
        %li
          %h6.key Email
          .value{"data-name" => "email", "data-url" => person_url(@person, :format => :json)}= @person.email
        %li
          %h6.key Title
          .value{"data-name" => "title", "data-url" => person_url(@person, :format => :json)}= @person.title
        %li
          %h6.key Company
          .value{"data-name" => "company_name", "data-url" => person_url(@person, :format => :json)}= @person.company_name
        %li
          %h6.key Website
          .value.website{"data-name" => "website", "data-url" => person_url(@person, :format => :json)}= @person.website
    %p      
      = link_to "Edit", edit_person_path(@person), :method => :get, :class => "btn"
      = link_to "Merge", new_merge_path(:loser => @person), :method => :get, :class => "btn btn-warning"

  %section
    %h6 Created
    .value= @person.created_at.to_date.to_formatted_s(:long_ordinal)
  %section
    %h6 Phone Numbers
    %ul.kv
      - person.phones.each do |phone|
        %li.row-fluid
          .span3= phone.kind
          .span7= phone.number
          .span2= link_to "Delete", person_phone_path(@person.id, phone.id), :method => :delete, :class=>'btn btn-danger btn-mini', :data => {:confirm => "Are you sure you want to delete #{phone.number}?"}

    = form_for([person, Phone.new]) do |form|
      .row-fluid
        .hidden= form.label(:number, "Number")
        .hidden= form.label(:kind, "Kind")
        = form.select(:kind, options_for_select(Phone.kinds), {}, {:class => 'span3', :style=>'margin-left:0px'})
        = form.text_field(:number, :placeholder => "555-123-1234", :class => 'span6')
        = form.submit "Add", :class => "btn span2"

  %section
    %h6 Tags
    = render :partial=>'shared/tags', :locals => { :tags => @person.tag_list, :subject => @person }

  %section
    %h6 Address
    - if @person.address.present?
      = render @person.address
      = button_to "Edit", "#", :id => "update-mailing-address", :class => "btn"
    - else
      = button_to "Add", "#", :id => "create-mailing-address", :class => "btn"

    = render :partial => "addresses/form", :locals => { :person => @person, :address => @person.address || @person.build_address }

  %section#email-subscription
    %h6 Email Lists
    = form_for person do |form|
      .do-not-email
        = form.label :do_not_email, :class => "checkbox" do
          = form.check_box :do_not_email, :class => "checkbox"
          %span Do Not Email
      - if @person.organization.kits.mailchimp
        .mailchimp-list
          - mailchimp_kit = @person.organization.kits.mailchimp
          = hidden_field_tag "person[subscribed_lists][]", nil, :id => "person_subscribed_lists_empty"
          - mailchimp_kit.attached_lists.each do |list|
            = label_tag "", :class => "checkbox" do
              = check_box_tag "person[subscribed_lists][]", list[:list_id], person.subscribed_lists.include?(list[:list_id]), :class => "checkbox mail-chimp-list", :disabled => person.do_not_email
              %span= list[:list_name]
      = form.submit "Save", :class => 'btn hidden'

  - if current_user.current_organization.kits.mailchimp
    .modal#subscribe-modal(role="dialog")
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
        %h3 MailChimp List Subscription
      .modal-body
        %p #{person.first_name} #{person.last_name} will receive an email from MailChimp confirming their addition to this list
      .modal-footer
        %button(class="btn" data-dismiss="modal" aria-hidden="true") Cancel
        %button(class="btn btn-primary") OK