%li{:id => "show_#{show.id}", :style => "#{'display:none' if @use_calendar}", 'data-date' => "#{show.datetime_local_to_event.strftime('%D')}"}
  .title
    .date
      .month= show.datetime_local_to_event.strftime("%b")
      .day= show.datetime_local_to_event.strftime("%e")
    .time
      %h4.day_and_month
        = "#{show.datetime_local_to_event.strftime("%A, %B")} #{show.datetime_local_to_event.strftime("%e").to_i.ordinalize}"

      = show.datetime_local_to_event.strftime("%l:%M %p")

  .sections{:style => 'display:none;'}
    - if show.chart.sections.storefront.empty?
      No tickets are available for this show
    - show.chart.sections.storefront.each do |section|
      .section
        %h4
          = section.name
          %span{:class => 'price'}= number_as_cents(section.price)
        -unless section.description.nil?
          -description = section.description
          -if description.length > 150
            .toggle-truncated
              .truncated
                = simple_format "#{truncate(description, :length => 150)} (#{link_to 'more','#', :class => 'toggle'})"
              .not-truncated{:style => 'display:none;'}
                =simple_format "#{description} (#{link_to 'less','#', :class => 'toggle'})"
          - else
            =simple_format description
            
        = form_tag '', :class => 'add-tickets-to-cart' do
          = hidden_field_tag :show_id, show.id
          = hidden_field_tag :section_id, section.id
          = hidden_field_tag :section_name, section.name
          = hidden_field_tag :ticket_price, section.price / 100.0
          = hidden_field_tag :showing_name, "#{show.datetime_local_to_event.strftime("%A, %B")} #{show.datetime_local_to_event.strftime("%e").to_i.ordinalize} at #{show.datetime_local_to_event.strftime("%l:%M %p")}" # Monday, January, 23rd at 3:15 pm
          - if section.available == 0
            %select{:style => "width:140px"}
              %option
                SOLD OUT
          - else
            = select_tag :ticket_count, options_for_select((1..[10, section.available].min).to_a.map {|i| [pluralize(i, 'Ticket'), i]}), :style => "width:140px"
            = submit_tag 'Add to cart', :class => 'btn btn-primary'
