%table.table
  %tr
    %td Potential Remaining
    %td= number_as_cents(show.glance.potential_remaining)
  %tr
    %td Original Potential
    %td= number_as_cents(show.glance.potential_original)
  %tr
    %td On Sale
    %td= show.glance.available_total
  %tr
    %td Sold
    %td= show.glance.sold_total
  %tr
    %td Comped
    %td= show.glance.comped_total