%ul.detailed-list.tags{:id => "people-#{subject.id}-tags"}
  - tags.each do |tag|
    %li.tag.deletable.rounder= tag

= form_tag new_tag_path(subject), :method => :post, :class => 'new-tag-form form-search', :autocomplete => 'off', :remote=>'true' do
  = hidden_field_tag :subject_id, subject.id, {:id=>'subject-id-field'}
  -# = text_field_tag :tag, nil, {:id=>'new-tag-field'}
  = text_field_tag :tag, "", :id=>"new-tag-field", :class => "typeahead", "data-provide"=>"typeahead", "data-items"=>"5", "data-source"=>"[" + @tags_string.html_safe + "]" 
  = submit_tag "Add Tag", :class => "btn"
  %span.tag-error