%h2 Your Daily Order Report
%h1= @date.to_s(:long)

%table
  %tr
    %th Order #
    %th Total
    %th Customer
    %th Details
  - @report.rows.each do |row|
    %tr
      %td{:style=>"text-align: right;"}= link_to row.id, order_url(id: row.id)
      %td{:style=>"text-align: right;"}= row.total
      %td= link_to row.person, person_url(id: row.person_id)
      %td= row.ticket_details
