= form_for search, url: searches_path, method: "POST", html: {class: 'form-vertical advanced-search'} do |f|
  = hidden_field :commit, "Search"
  %h3 Tag
  = f.text_field :tagging, placeholder: "Tag Name", :class => "typeahead", "data-provide"=>"typeahead", "data-items"=>"10", "data-source"=>"[" + @tags_string.html_safe + "]"
  %h3 Events
  = f.select :event_id, options_for_select(@event_options, selected: search.event_id), include_blank: ""

  %h3 Donations
  = f.label :min_donations_amount, "Total Donations"
  .control
    .input-prepend
      %span.add-on $
      = f.text_field :min_donations_amount, placeholder: "min", class: "input-small"
    %span.range-separator to
    .input-prepend
      %span.add-on $
      = f.text_field :max_donations_amount, placeholder: "max", class: "input-small"
  .control
    = date_field_tag "search[min_donations_date]", search.min_donations_date.try(:strftime, "%F"), max: Time.now.strftime("%F")
    %span.range-separator to
    = date_field_tag "search[max_donations_date]", search.max_donations_date.try(:strftime, "%F"), max: Time.now.strftime("%F")

  %h3 Value
  = f.label :min_lifetime_value, "Lifetime Value (Purchases and Donations)"
  .control
    .input-prepend
      %span.add-on $
      = f.text_field :min_lifetime_value, :placeholder => "min", class: "input-small"
    %span.range-separator to
    .input-prepend
      %span.add-on $
      = f.text_field :max_lifetime_value, :placeholder => "max", class: "input-small"

  %h3 Discounts
  = f.select :discount_code, options_for_select(@discount_codes, search.discount_code), {:include_blank => true}

  %h3 Location
  = f.number_field :zip, in: 00001..99999, placeholder: "Zipcode", class: "input-small"
  = f.select :state, options_for_select(sorted_us_state_names, selected: search.state), {include_blank: "State"}, {class: "input-medium"}

  .control
    = f.submit "Search", :class => 'btn'
    = link_to "Simple Search", people_path