= devise_error_messages!

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend Reset your Password

    .control-group
      = f.label :password, :class=>'control-label'
      .controls= f.password_field :password

    .control-group
      = f.label :password_confirmation, "Retype Password", :class=>'control-label'
      .controls= f.password_field :password_confirmation

    = f.hidden_field :reset_password_token

    .form-actions
      = f.submit "Change My Password", :class => "btn btn-primary"
