#refunds.grouped-form
  %h3 Refunds
  = form_tag new_refund_path, :method => :get do
    = hidden_field_tag :order_id, order.id
    %ul
      - order.refundable_items.each do |item|
        %li
          .label-and-element
            = check_box_tag "items[]", item.id, false, :id => "refund_item_#{item.id}", :class => "item_#{item.id}"
            = label_tag "refund_item_#{item.id}", item.id
    = submit_tag "Refund", :class => "btn"
