- in_section :events
- content_for :header do
  =render :partial=>'events/header'

.row
  .span3
    - in_sub_section :shows
    =render :partial=>'events/menu'
  .span9
    = render "shared/error_messages", :target => @event
    %h3 Add a Show
    .row-fluid
      .span8.offset2
        = form_for @show, :html => { :class => 'form-horizontal' }, :url => event_shows_path(@event, @show) do |show_form|
          .control-group
            = show_form.label "Date and time", :class => 'control-label'
            .controls
              = datetime_field_tag "show[datetime]", l(@show.datetime_local_to_event, :format => :datetime_for_input)
        

          = show_form.fields_for :chart, @show.chart do |f|
            %fieldset
              %legend Ticket Types

              = f.fields_for :sections do |builder|
                = render 'events/section_fields', :f => builder

              .control-group
                .controls
                  %i.icon-plus-sign.icon-gray
                  = link_to_add_fields 'Add another ticket type', f, :sections, 'events'
                        
          .form-actions
            = show_form.submit "Save", :class => 'btn'
            = show_form.submit "Save and Publish", :class => 'btn btn-success'
            %span.help{'data-title' => 'Publishing', 'data-content' => "Publishing a show means that your show is displayed on your storefront and all on sale tickets are available for purchase".html_safe} ?
          
            