%h2 Setup Your Account

.instructions.well
  The administrator for
  %strong=resource.memberships.first.organization.name 
  has invited you to join their organization.  Enter a password for your account and click 'Sign Up' to begin using Artfully!

.account-details
  = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
    = devise_error_messages!
    = f.hidden_field :invitation_token
    .control-group
      = f.label :password, :class=>'control-label'
      .controls= f.password_field :password
    .control-group
      = f.label :password_confirmation, :class=>'control-label'
      .controls= f.password_field :password_confirmation

    = f.submit "Sign Up", :class => "btn"