!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : #{t 'artfully.page_title'}"
    = favicon_link_tag
    = stylesheet_link_tag "bootstrap", :media => :all
    = stylesheet_link_tag "application"
    = stylesheet_link_tag :printing, :media => :print
    = render 'layouts/custom_css_includes'
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    = render :partial => 'layouts/menu'
    .container
      #heading= yield :header
      = render :partial => 'layouts/flash', :locals => { :flash => flash }
      - flash.discard
      = content_for?(:menu_sub_template) ? yield(:menu_sub_template) : yield
      = render 'layouts/footer'

    = javascript_include_tag 'application'
    = render 'layouts/custom_js_includes'
    = yield :custom_js
    = render :partial => "shared/preload_assets"
    #footnotes_holder